{{!-- Author card — used in post.hbs (post context) and author.hbs (profile context) --}}
<section class="fs-author-card{{#is "author"}} fs-author-card--profile{{/is}}" aria-label="About the author">
  <div class="fs-author-card__inner" aria-label="About author {{name}}">

    <a class="fs-author-card__overlay-link" href="{{url}}" aria-label="View author {{name}}"></a>

    {{#if profile_image}}
      <div class="fs-author-card__photo fs-author-card__pe-none">
        {{#is "author"}}
          <img src="{{img_url profile_image size="m"}}" alt="{{name}}">
        {{else}}
          <img src="{{img_url profile_image size="s"}}" alt="{{name}}">
        {{/is}}
      </div>
    {{/if}}

    <div class="fs-author-card__body fs-author-card__pe-none">
      <div class="fs-author-card__eyebrow">Author</div>
      <h3 class="fs-author-card__name">{{name}}</h3>
      {{#if bio}}
        <p class="fs-author-card__bio">{{bio}}</p>
      {{/if}}
    </div>

    <div class="fs-author-card__socials">
      {{> "author-socials"}}
    </div>

    {{#if cover_image}}
      <div class="fs-author-card__cover" aria-hidden="true" style="background-image:url('{{img_url cover_image size="m"}}')"></div>
    {{/if}}
  </div>
</section>
